body {
    background-color: red;
}

h1 {
    color: white;
    text-align: center;
}
button {
    background-color: black !important;
    border: white !important;
    border-style: solid !important;
    border-width: .2mm !important;
}

.searchDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}


